<div class="container">
  <h1 class="page-header">About</h1>
  <p>This is a Sample Application created with .Net Core and Angular. Below is the list of technology, functionality,
    components etc. used.</p>
  <ul class="list-group">
    <li class="list-group-item list-group-item-primary">.Net Core 3.x</li>
    <li class="list-group-item">Entity Framework (Core)</li>
    <li class="list-group-item">CORS (Cross Origin Resource Sharing)</li>
    <li class="list-group-item list-group-item-secondary">Angular 8+</li>
    <li class="list-group-item">Saas (Syntactically Awesome Style Sheets)</li>
    <li class="list-group-item">Angular Material (Forms, Toolbar, Autocomplete etc.)</li>
    <li class="list-group-item">Angular Material Theming</li>
  </ul>
</div>
