<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>.Net Core and Angular Client/Server Sample.</h1>
      <p class="lead">Feel free to explore different sections of the site. To Download the code and run on your machine,
        please do the following.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Get the sample code from <a href="https://github.com/programmerboy">Git Hub</a></li>
        <li class="list-group-item">Create a new Database either in SQL Server Express or MSSQLLocalDB and name it
          "Samples".</li>
        <li class="list-group-item">Make sure your connection string in appsettings.json is correct one.</li>
        <li class="list-group-item">Download the missing packages (from Nuget) and build project.</li>
        <li class="list-group-item">On the Package Manager Console, run this command "Update-Database".</li>
        <li class="list-group-item">Open the Carriers.sql and Devices.sql in SSMS and run.</li>
        <li class="list-group-item">If all good, then press F5 in Visual Studio.</li>
        <li class="list-group-item">There are two ways to run Angular Client app. In Angular Folder, either run
          "ng-serve" , OR "npm run dev"</li>
        <li class="list-group-item">If ran using "ng-serve", then URL will be http://localhost:4200/.</li>
        <li class="list-group-item">If ran using "npm run dev", then URL will be https://localhost:44397/.</li>
      </ul>
    </div>
  </div>
</div>
