<div class="container">
  <h2>Filter Lookup</h2>
  <div class="form-row">
    <div class="col-md-auto col-sm-12">
      <mat-form-field appearance="outline" [color]="'primary'" class="w-100">
        <mat-label>Country</mat-label>
        <mat-select placeholder="Please Select Country" [(ngModel)]="sm.country" (ngModelChange)="getCarriers()"
          [disabled]="!countries.length">
          <mat-option *ngFor="let item of countries" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-auto col-sm-12">
      <mat-form-field appearance="outline" [color]="'primary'" class="w-100">
        <mat-label>Carrier</mat-label>
        <mat-select placeholder="Please Select Carrier" [(ngModel)]="sm.carrierName" [disabled]="!carriers.length">
          <mat-option *ngFor="let item of carriers" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="col-md-auto col-sm-12">
      <mat-form-field appearance="outline" [color]="'accent'" class="w-100">
        <mat-label>Brand</mat-label>
        <mat-select placeholder="Please Select Brand" [(ngModel)]="sm.brand" (ngModelChange)="getModels()"
          [disabled]="!brands.length">
          <mat-option *ngFor="let item of brands" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-auto col-sm-12">
      <mat-form-field appearance="outline" [color]="'accent'" class="w-100">
        <mat-label>Model</mat-label>
        <mat-select placeholder="Please Select Device Model" [(ngModel)]="sm.phoneModel"
          (ngModelChange)="getSubModels()" [disabled]="!phoneModels.length">
          <mat-option *ngFor="let item of phoneModels" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-auto col-sm-12">
      <mat-form-field appearance="outline" [color]="'accent'" class="w-100">
        <mat-label>Sub Model</mat-label>
        <mat-select placeholder="Please Select Sub Model" [(ngModel)]="sm.subModel" [disabled]="!subModels.length">
          <mat-option *ngFor="let item of subModels" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-auto col-sm-12">
      <button mat-mini-fab (click)="reset()" aria-label="Refresh" class="mr-1">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-mini-fab (click)="search()" aria-label="Search" class="mr-1">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mt-1" [@flyInOut]="'in'" *ngIf="isSearched">
    <div class="col-md-12">
      <div class="card">
        <h5 class="card-header">{{searchedDeviceName}} <img src="/assets/images/smart-device.png"
            matTooltip="Click to show Device Frequencies" class="ml-2" (click)="showDeviceFreq()" /></h5>
        <div class="card-body">
          <h5 class="card-title">{{searchedCarrierName}} <img src="/assets/images/cell-tower.png"
              matTooltip="Click to show Career Frequencies" (click)="showCareerFreq()" /></h5>

          <div class="row justify-content-between">
            <!--2G-->
            <div class="col-md-3 network">
              <strong>2G Network:</strong>
              <br />
              <span class="material-icons md-36"
                [ngClass]="{
                'text-success': compModel.twoGFullCompatible,
                'text-warning': (!compModel.twoGFullCompatible && compModel.TwoGMatchedFreq),
                'text-danger':  (!compModel.twoGFullCompatible && !compModel.TwoGMatchedFreq)
              }">{{(compModel.twoGFullCompatible || compModel.TwoGMatchedFreq) ? 'check_circle_outline' : 'block'}}</span>
              <hr class="mat-divider">
              <strong>{{compModel.two_G}}</strong>
            </div>
            <!--3G-->
            <div class="col-md-3 network">
              <strong>3G Network:</strong>
              <br />
              <span class="material-icons md-36" [ngClass]="{
                'text-success': compModel.threeGFullCompatible,
                'text-warning': (!compModel.threeGFullCompatible && compModel.threeGMatchedFreq),
                'text-danger':  (!compModel.threeGFullCompatible && !compModel.threeGMatchedFreq)
              }">
                {{(compModel.threeGFullCompatible || compModel.threeGMatchedFreq) ? 'check_circle_outline' : 'block'}}</span>
              <hr class="mat-divider">
              <strong>{{compModel.three_G}}</strong>
            </div>
            <!--4G-->
            <div class="col-md-3 network">
              <strong>4G Network:</strong>
              <br />
              <span class="material-icons md-36" [ngClass]="{
                'text-success': compModel.fourGFullCompatible,
                'text-warning': (!compModel.fourGFullCompatible && compModel.fourGMatchedFreq),
                'text-danger':  (!compModel.fourGFullCompatible && !compModel.fourGMatchedFreq)
              }">
                {{(compModel.fourGFullCompatible || compModel.fourGMatchedFreq) ? 'check_circle_outline' : 'block'}}</span>
              <hr class="mat-divider">
              <strong>{{compModel.four_G}}</strong>
            </div>
            <!--5G-->
            <div class="col-lg-3 network">
              <strong>5G Network:</strong>
              <br />
              <span class="material-icons md-36" [ngClass]="{
                'text-success': compModel.fiveGFullCompatible,
                'text-warning': (!compModel.fiveGFullCompatible && compModel.fiveGMatchedFreq),
                'text-danger':  (!compModel.fiveGFullCompatible && !compModel.fiveGMatchedFreq)
              }">
                {{(compModel.fiveGFullCompatible || compModel.fiveGMatchedFreq) ? 'check_circle_outline' : 'block'}}</span>
              <hr class="mat-divider">
              <strong>{{compModel.five_G}}</strong>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
