#disable-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  opacity: 0.5;
  z-index: 7500;
}

.my-alert {
  text-align: center;
  position: fixed;
  right: 20%;
  left: 20%;
  top: 5px;
  z-index: 9999;
}

.pending-request {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 8888;
  width: 266px;
  display: flex;
}

#loader {
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #265a88;
  border-bottom: 16px solid #6DB523;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-text {
  margin-left: 1em;
  font-weight: bold;
}

.icon {
  margin-right: 10px;
}

.message {
  vertical-align: text-bottom;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
