/* For use in src/lib/core/theming/_palette.scss */
$md-green: (50 : #edf6e5,
  100 : #d3e9bd,
  200 : #b6da91,
  300 : #99cb65,
  400 : #83c044,
  500 : #6db523,
  600 : #65ae1f,
  700 : #5aa51a,
  800 : #509d15,
  900 : #3e8d0c,
  A100 : #d3ffbd,
  A200 : #b1ff8a,
  A400 : #90ff57,
  A700 : #7fff3d,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$md-blue: (50 : #e4e9ee,
  100 : #bcc9d5,
  200 : #8fa5b9,
  300 : #62819c,
  400 : #416687,
  500 : #1f4b72,
  600 : #1b446a,
  700 : #173b5f,
  800 : #123355,
  900 : #0a2342,
  A100 : #7aafff,
  A200 : #4791ff,
  A400 : #1473ff,
  A700 : #0065f9,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));

$otd-brand-primary: mat-palette($md-green);
$otd-brand-accent: mat-palette($md-blue);
$otd-brand-warn: mat-palette($mat-red, 600);

$otd-brand-theme: mat-light-theme($otd-brand-primary, $otd-brand-accent, $otd-brand-warn);
